@import "../../theme/colors";

signup-comp {
  
  .signup-bg {
    background-color: map_get(map_get($colors, primary), base);
    padding-top: 0;
    width: 100%;
    height: 100%;
  }
  
  .signup-text {
    color: map_get(map_get($colors, accent), base);
    
  }
  
  .signup-title {
    @extend .signup-text;
    font-size: 48px;
    
  }
  
  .signup-col {
    width: 100%;
    height: 100%;
  }
  
  .signup-card {
    max-width: 500px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
    min-width: 400px;
  }
  
  .signup-footer {
    width: 100%;
    text-align: center;
  }
  
  .signup-footer-link {
    cursor: pointer;
    text-decoration: underline;
  }
}

