<ion-content class="dash-bg"
             fxLayout="row"
             fxLayoutAlign="center center"
             padding>
  
  <img src="/assets/img/surv-logo.png" class="logo-style">
  <ion-grid style="height: 54px; width:100%;">
    <ion-row style="width: 100%;">
      <ion-col style="width: 100%; height: 54px;">
        <i class="material-icons" style="color: #E8EEF2; cursor: pointer;" menuToggle>menu</i>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col style="min-height: 50px;">&nbsp;</ion-col>
    </ion-row>
    <ion-row fxlayout="row" fxlayoutalign="center start" style="width: 100%;">
      <ion-col></ion-col>
      <ion-col fxlayout="column" fxlayoutalign="center center">
        <ion-card>
          <ion-card-title class="card-title">National Sales</ion-card-title>
          <ion-card-content>
            <google-chart [data]='steppedChartData' (chartReady)='ready($event)'></google-chart>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-title>Payment Types</ion-card-title>
          <ion-card-content>
            <google-chart [data]='pieChartData' (chartReady)='ready($event)'></google-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col fxlayout="column" fxlayoutalign="center center" style="width: 100%;">
        <ion-card>
          <ion-card-title>Quarterly Sales</ion-card-title>
          <ion-card-content>
            <google-chart [data]='barChartData' (chartReady)='ready($event)'></google-chart>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-title>Quarterly Sales</ion-card-title>
          <ion-card-content>
            <google-chart [data]='colChartData' (chartReady)='ready($event)'></google-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  
  </ion-grid>
</ion-content>
