<ion-menu [content]="content">
  <ion-header no-border style="box-shadow: none;">
    <ion-navbar color="secondary" no-border style="box-shadow: none !important; border-bottom: 1px solid #fff;">
      <ion-title><span style="font-weight: 400 !important;">Menu</span></ion-title>
      
      <i class="material-icons" style="color: #E8EEF2; cursor: pointer;" menuToggle>menu</i>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
