$colors: (
  primary: (
    base: #0B3954,
    contrast: #F5F1ED
  ),
  secondary: (
    base: #B1F8F2,
    contrast: #270722
  ),
  accent: (
    base: #E3E7AF,
    contrast: #270722
  ),
  danger: (
    base: #FF1E70,
    contrast: #F5F1ED
  ),
  success: (
    base: #BCD39C,
    contrast: #270722
  ),
  slate: (
    base: #A2A77F,
    contrast: #270722
  ),
  shadow: (
    base: #474044,
    contrast: #F5F1ED
  ),
  light: (
    base: #F0F0C9,
    contrast: #270722
  ),
  ash: (
    base: #EDF2F4,
    contrast: #270722
  ),
  frost: (
    base: #F5F1ED,
    contrast: #270722
  ),
  dark: (
    base: #270722,
    contrast: #F5F1ED
  )
);
