$colors: (
  primary: (
    base: #0B3954,
    contrast: #FDFFFC
  ),
  secondary: (
    base: #2F2C38,
    contrast: #FDFFFC
  ),
  accent: (
    base: #59A5D8,
    contrast: #FDFFFC
  ),
  danger: (
    base: #D7263D,
    contrast: #FDFFFC
  ),
  success: (
    base: #BCD39C,
    contrast: #270722
  ),
  grape: (
    base: #912F56,
    contrast: #FDFFFC
  ),
  mustard: (
    base: #FFC857,
    contrast: #FDFFFC
  ),
  seafoam: (
    base: #177E89,
    contrast: #FDFFFC
  ),
  ash: (
    base: #E8EEF2,
    contrast: #270722
  ),
  frost: (
    base: #F3F7F0,
    contrast: #270722
  ),
  light: (
    base: #FDFFFC,
    contrast: #270722
  ),
  dark: (
    base: #270722,
    contrast: #FDFFFC
  )
);
