
@import "colors";

$font-path: "../assets/fonts";
$app-direction: ltr;
$background-color: map_get(map_get($colors, light), base);
$headings-font-weight: 300;
$font-family-base: "Roboto", "Helvetica Neue", sans-serif;
$h1-font-size: 2.6em;
$h2-font-size: 2.4em;
$h3-font-size: 2.2em;
$h4-font-size: 2em;
$h5-font-size: 1.8em;
$h6-font-size: 1.6em;
$tabs-ios-tab-font-size: 1em;
$button-ios-border-radius: 2px;
$toolbar-ios-height: 74px;
$text-input-ios-show-focus-highlight: true;
$loading-ios-spinner-color: map_get(map_get($colors, primary), base);

$tabs-md-tab-font-size: 1em;
$button-md-box-shadow: none;
$button-md-box-shadow-activated: none;
$button-md-border-radius: 2px;
$toolbar-md-height: 74px;
$text-input-md-show-focus-highlight: true;

$custom-loader-color: map_get(map_get($colors, secondary), base);
$custom-loader-backdrop: rgba(240, 240, 201, 0.7);
$custom-loader-backdrop2: rgba(240, 240, 201, 1);
$custom-loader-shadow: map_get(map_get($colors, dark), base);
