  <iframe style="width: 640px; height: 360px;"
          src="https://www.youtube.com/embed/G9XyEyGMKy4?autoplay=0&controls=1&showinfo=0&modestbranding=0&loop=0&fs=1&cc_load_policy=0&iv_load_policy=3&autohide=0"
          frameborder="0" allowfullscreen>
  
  </iframe>
  <div style="margin-top: -365px; left: 0; height: 80px; max-height: 80px; overflow: visible; position: relative; width: 640px; background-color: rgba(0, 0, 0, 0.4); z-index: 1000; padding: 4px;">
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <div fxFlex style="color: #fff; font-weight: 600; text-shadow: 1px 1px 0 #000;">Video ID: G9XyEyGMKy4</div>
      <div fxFlex style="color: #fff; font-weight: 600; text-shadow: 1px 1px 0 #000;">Timestamp: 11/12/2017 01:15:37:06 (PST)</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <div fxFlex style="color: #fff; font-weight: 600; text-shadow: 1px 1px 0 #000;">Viewport: 640x360</div>
      <div fxFlex style="color: #fff; font-weight: 600; text-shadow: 1px 1px 0 #000;">Optimal Res: 854x460@30</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <div fxFlex style="color: #fff; font-weight: 600; text-shadow: 1px 1px 0 #000;">Codecs: vp9 (244) / opus (251)</div>
      <div fxFlex style="color: #fff; font-weight: 600; text-shadow: 1px 1px 0 #000;">Loudness: 7.7dB</div>
    </div>
  </div>


