  <iframe class="video-layout"
          [src]="trustedUrl"
          frameborder="0" allowfullscreen>
  
  </iframe>
  <div class="video-overlay">
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <div fxFlex class="overlay-text">Video ID: G9XyEyGMKy4</div>
      <div fxFlex class="overlay-text">Timestamp: 11/12/2017 01:15:37:06 (PST)</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <div fxFlex class="overlay-text">Viewport: 640x360</div>
      <div fxFlex class="overlay-text">Optimal Res: 854x460@30</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <div fxFlex class="overlay-text">Codecs: vp9 (244) / opus (251)</div>
      <div fxFlex class="overlay-text">Loudness: 7.7dB</div>
    </div>
  </div>


