@import "../../theme/colors";

login-comp {

  .login-bg {
    background-color: map_get(map_get($colors, primary), base);
    padding-top: 0;
    width: 100%;
    height: 100%;
  }
  
  .login-text {
    color: map_get(map_get($colors, mustard), base);
    
  }
  
  .login-title {
    @extend .login-text;
    font-size: 48px;
    
  }
  
  .login-col {
    width: 100%;
    height: 100%;
  }

  .login-card {
    max-width: 500px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
    min-width: 400px;
    border-radius: 14px;
  }
  
  .login-footer {
    width: 100%;
    text-align: center;
  }
  
  .login-footer-link {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .image-style {
    opacity: 0.2;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
  }
}
